<div class="container mx-auto">

  <div class="row my-3 mx-auto">
    <h4 class="col-12 text-center mx-auto">従業員給与情報入力画面</h4>
  </div>

  <%= form_with model: @salary, url: admin_salaries_path do |f| %>

    <div class="row py-3 col-11 mx-auto border border-dark rounded">
      <table class="table table-borderless col-6">
        <tr>
          <th class="ml-auto"><%= f.label "従業員番号" %></th>
          <td class="mr-auto">
            <%= f.select :employee_id, options_from_collection_for_select(Employee.all, :id, :employee_display),  { required: true,  class:'form-control mx-auto', } %>
          </td>
        </tr>
        <tr>
          <th class="ml-auto"><%= f.label "出勤日数" %></th>
          <td class="mr-auto"><%= f.text_field :total_workday, required: true, class:"form-control" %></td>
        </tr>
        <tr>
          <th class="ml-auto"><%= f.label "欠勤日数" %></th>
          <td class="mr-auto"><%= f.text_field :absent, required: true, class:"form-control" %></td>
        </tr>
        <tr>
          <th class="ml-auto"><%= f.label "有給消化数" %></th>
          <td class="mr-auto"><%= f.text_field :used_paid_leave, required: true, class:"form-control" %></td>
        </tr>
      </table>

      <table class="table table-borderless col-6">
        <tr>
          <th class="ml-auto"><%= f.label "時間単価" %></th>
          <td class="mr-auto"><%= f.text_field :wage, required: true, class:"form-control" %></td>
        </tr>
        <tr>
          <th class="ml-auto"><%= f.label "労働時間" %></th>
          <td class="mr-auto row">
            <%= f.text_field :total_hour, required: true, class:"form-control mx-auto col-5" %>
            <%= f.select :total_minute, options_for_select([['00', 0.0], ['15', 0.25], ['30', 0.5], ['45', 0.75]]),{}, {class:"form-control mx-auto col-5"} %>
          </td>
        </tr>
        <tr>
          <th class="ml-auto"><%= f.label "残業時間" %></th>
          <td class="mr-auto row">
            <%= f.text_field :extra_hour, required: true, class:"form-control mx-auto col-5" %>
            <%= f.select :extra_minute, options_for_select([['00', 0.0], ['15', 0.25], ['30', 0.5], ['45', 0.75]]),{}, {class:"form-control mx-auto col-5"} %>
          </td>
        </tr>
      </table>

      <div class="row py-2 col-11 mx-auto">
        <%= f.submit "登録する", class: "btn btn-success col-5 mx-auto" %>
        <%= link_to admin_salaries_path, class:"col-5 mx-auto" do %>
          <button type="button" class="btn btn-info col-12 text-white">給与一覧に戻る</button>
        <% end %>
      </div>

    </div>
  <% end %>
</div>