<div class="container mx-auto">

  <div class="row my-3 mx-auto">
    <h4 class="col-12 text-center mx-auto"><%= @employee.last_name %><%= @employee.first_name %>さんの給与情報確認画面</h4>
  </div>

  <div class="row py-3 col-11 mx-auto border border-dark rounded">
    <table class="table table-hovered mb-0">

      <tr>
        <th class="ml-auto col-5">従業員番号</th>
        <td class="mr-auto col-5"><%= @salary.employee_id %></td>
      </tr>
      <tr>
        <th class="ml-auto col-5">従業員名</th>
        <td class="mx-auto col-5">
          <%= @employee.last_name %> <%= @employee.first_name %>
        </td>
      </tr>
      <table class="col-6 table table-hovered mb-0">
        <tr>
          <th class="ml-auto col-2">出勤日数</th>
          <td class="mx-auto col-2"><%= @salary.total_workday %></td>
        </tr>
        <tr>
          <th class="ml-auto col-2">欠勤日数</th>
          <td class="mx-auto col-2"><%= @salary.absent %></td>
        </tr>
        <tr>
          <th class="ml-auto col-2">有休消化日数</th>
          <td class="mx-auto col-2"><%= @salary.used_paid_leave %></td>
        </tr>
      </table>
      <table class="col-6 table table-hovered mb-0">
        <tr>
          <th class="ml-auto col-2">時間単価</th>
          <td class="mr-auto col-2"><%= @salary.wage %></td>
        </tr>
        <tr>
          <th class="ml-auto col-2">労働時間</th>
          <td class="mr-auto col-2"><%= @salary.total_hour %>:<%= sprintf("%02d", (@salary.total_minute * 60).round) %></td>
        </tr>
        <tr>
          <th class="ml-auto col-2">残業時間</th>
          <td class="mr-auto col-2"><%= @salary.extra_hour %>:<%= sprintf("%02d", (@salary.extra_minute * 60).round) %></td>
        </tr>
      </table>

    </table>

    <div class="row py-2 col-11 mx-auto">
      <%= link_to "編集する", edit_admin_salary_path(@salary.id), class:"col-5 btn btn-success mx-auto" %>
      <%= link_to "給与一覧に戻る", admin_salaries_path, class:"col-5 btn btn-info text-white mx-auto" %>
    </div>

  </div>
</div>