<div class="container mx-auto">

  <div class="row my-3 mx-auto">
    <h4 class="col-4 text-center mx-auto">有給申請決定画面</h4>
  </div>
<div class="border border-dark rounded">

  <%= form_with model: @time_record, url: admin_time_record_path(@time_record.id), method: :patch do |f| %>
    <div class="row py-3 col-11 mx-auto">
      <table class="table table-borderless">

        <tr>
          <th class="ml-auto col-5"><%= f.label "従業員番号" %></th>
          <td class="mx-auto">
            <%= @time_record.employee_id %>
          </td>
        </tr>
        <tr>
          <th class="ml-auto col-5"><%= f.label "従業員氏名" %></th>
          <td class="mx-auto row">
            <%= @time_record.employee.last_name %> <%= @time_record.employee.first_name %>
          </td>
        </tr>
        <tr>
          <th class="ml-auto col-5"><%= f.label "就業日" %></th>
          <td class="mx-auto"><%= f.date_field :work_date, required: true, class:"form-control" %></td>
        </tr>
        <tr>
          <th class="ml-auto col-5"><%= f.label "出勤時間" %></th>
          <td class="mx-auto py-3"><%= f.time_field :started_at, required: true, class:"form-control" %></td>
        </tr>
        <tr>
          <th class="ml-auto col-5"><%= f.label "退勤時間" %></th>
          <td class="mx-auto py-3"><%= f.time_field :finished_at, required: true, class:"form-control" %></td>
        </tr>
        <tr>
          <th class="ml-auto col-5"><%= f.label "就業時間" %></th>
          <td class="mx-auto py-3"><%= f.text_field :total_time, required: true, class:"form-control" %></td>
        </tr>
        <tr>
          <th class="ml-auto col-5"><%= f.label "残業時間" %></th>
          <td class="mx-auto py-3"><%= f.text_field :extra_time, required: true, class:"form-control" %></td>
        </tr>
        <tr>
          <th class="ml-auto col-5"><%= f.label "遅刻・早退時間" %></th>
          <td class="mx-auto py-3"><%= f.text_field :absent_time, required: true, class:"form-control" %></td>
        </tr>
        <tr>
          <th class="ml-auto col-5"><%= f.label "区分" %></th>
          <td class="mx-auto py-3"><%= f.select :division, options_for_select([['出勤', 1], ['休日出勤',4]]),{}, {required: true, class:"form-control mx-auto col-5"} %></td>
        </tr>
      </table>

      <div class="row py-2 col-5 mx-auto">
        <%= f.submit "更新する", class: "btn btn-primary col-12" %>
      </div>
    </div>

  <% end %>
</div>
