<div class="container mx-auto">

  <div class="row my-3 mx-auto">
    <h4 class="col-4 text-center mx-auto">勤怠打刻・履歴一覧画面</h4>
  </div>

  <div class="row py-3 col-11 mx-auto border border-dark rounded">
    <div class="row py-3 col-12 border border-dark rounded">
      <h5 class="col-12 text-center mx-auto">勤怠打刻フォーム</h5>
      <% unless @today_record.present? %>
        <%=
          link_to "出勤打刻ボタン",
          time_records_path(employee_id: current_employee.id, started_at: Date.current), method: :post,
          class:"col-xl col-lg col-md col-12 btn btn-success mx-1 my-1 py-3"
        %>
      <% end %>

      <% if @today_record.present? %>
        <%=
          link_to "退勤打刻ボタン",
          time_record_path(@today_record.id, finished_at: Date.current), method: :patch, class:"col-xl col-lg col-md col-12 btn btn-success mx-1 my-1 py-3" %>
      <% end %>
    </div>

    <div class="row py-3 col-12 mx-auto">

      <h5 class="col-12 mx-auto text-center py-2">勤怠履歴一覧 -<%= Time.current.year %>年<%= Time.current.month %>月- </h5>
  
      <table class="table table-hovered col-10">
  
        <tr>
          <th>日付</th>
          <th>出勤</th>
          <th>退勤</th>
          <th>就労</th>
          <th>残業</th>
          <th>遅・早</th>
        </tr>
  
        <% @time_records.each do |tr| %>
          <tr>
            <td><%= tr.work_date.strftime('%-m/%-d') %></td>
            <td><%= tr.started_at.strftime('%H:%M') %></td>
            <td><%= tr.finished_at.strftime('%H:%M') %></td>
            <td>
              <% if e.suspended == false %>
                <label class="text-success"><strong>無効</strong></label>
              <% else %>
                <label class="text-danger"><strong>有効</strong></label>
              <% end %>
            </td>
            <td>
              <%= link_to "詳細", admin_employee_path(e.id), class:"btn btn-info col-5 mx-auto py-1" %>
              <%= link_to "編集", edit_admin_employee_path(e.id), class:"btn btn-success col-5 mx-auto py-1" %>
              </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>