<div class="container mx-auto">

  <div class="row my-3 mx-auto">
    <h4 class="col-12 text-center mx-auto">アカウント削除確認画面</h4>
  </div>

  <div class="row py-3 col-11 mx-auto border border-dark rounded">
    <table class="table table-borderless">

      <tr>
        <th class="ml-auto col-5">従業員番号</th>
        <td class="mr-auto col-5"><%= @employee.id %></td>
      </tr>
      <tr>
        <th class="ml-auto col-5">従業員名</th>
        <td class="mx-auto row">
          <%= @employee.last_name %> <%= @employee.first_name %>
        </td>
      </tr>
      <tr>
        <th class="ml-auto col-5">従業員名(カナ)</th>
        <td class="mx-auto row">
          <%= @employee.last_name_kana %> <%= @employee.first_name_kana %>
        </td>
      </tr>
    </table>

      <div class="row py-3 col-11 mx-auto">

        <%= link_to "アカウントを削除する", admin_employee_path(@employee.id), class:"btn btn-danger col-5 mx-auto", method: :delete %>

      </div>
  </div>
</div>