<div class="container mx-auto">

  <div class="row my-3 mx-auto">
    <h4 class="col-12 text-center mx-auto">従業員編集画面</h4>
  </div>

  <%= form_with model: @employee, url: admin_employee_path, method: :patch do |f| %>

    <div class="row py-3 col-11 mx-auto border border-dark rounded">
      <table class="table table-borderless">

        <tr>
          <th class="ml-auto"><%= f.label "従業員番号" %></th>
          <td class="mr-auto"><%= f.text_field :employee_number, class:"form-control" %></td>
        </tr>
        <tr>
          <th class="ml-auto"><%= f.label "従業員名" %></th>
          <td class="mx-auto row">
            <%= f.label "姓", class:"col-1 p-0 text-center" %>
            <%= f.text_field :last_name, class:"col-5 form-control" %>
            <%= f.label "名", class:"col-1 p-0 text-center" %>
            <%= f.text_field :first_name, class:"col-5 form-control" %>
          </td>
        </tr>
        <tr>
          <th class="ml-auto"><%= f.label "従業員名(カナ)" %></th>
          <td class="mx-auto row ">
            <%= f.label "セイ", class:"col-1 p-0 text-center" %>
            <%= f.text_field :last_name_kana, class:"col-5 form-control" %>
            <%= f.label "メイ", class:"col-1 p-0 text-center" %>
            <%= f.text_field :first_name_kana, class:"col-5 form-control" %>
          </td>
        </tr>
        <tr>
          <th class="ml-auto"><%= f.label "住所" %></th>
          <td class="mr-auto"><%= f.text_field :address, required: true, class:"form-control" %></td>
        </tr>
        <tr>
          <th class="ml-auto"><%= f.label "電話番号" %></th>
          <td class="mr-auto"><%= f.text_field :telephone_number, required: true, class:"form-control" %></td>
        </tr>
        <tr>
          <th class="ml-auto"><%= f.label "メールアドレス" %></th>
          <td class="mr-auto"><%= f.text_field :email, required: true, class:"form-control" %></td>
        </tr>
        <% if f.object.new_record? %>
          <tr>
            <th class="ml-auto"><%= f.label "パスワード" %></th>
            <td class="mr-auto"><%= f.password_field :password, required: true, class:"form-control" %></td>
          </tr>
        <% end %>
        <tr>
          <th class="ml-auto"><%= f.label "入社日" %></th>
          <td class="mr-auto"><%= f.date_field :start_date, required: true, class:"form-control" %></td>
        </tr>
        <tr>
          <th class="ml-auto"><%= f.label "退職日" %></th>
          <td class="mr-auto"><%= f.date_field :end_date, class:"form-control" %></td>
        </tr>
        <tr>
          <th class="ml-auto"><%= f.label "停止ステータス" %></th>
          <td><%= f.check_box :suspended, class:"form-control mx-auto col-1" %></td>
        </tr>
        <% if (@employee.start_date >> 6) <= Date.today %>
          <tr>
            <th class="ml-auto"><%= f.label "有給残日数" %></th>
            <td class="mr-auto"><%= f.text_field :number_of_paid_leave, required: true, class:"form-control" %></td>
          </tr>
          <tr>
            <th class="ml-auto"><%= f.label "前回有給付与日" %></th>
            <td class="mr-auto"><%= f.date_field :prev_grant_date, class:"form-control" %></td>
          </tr>
          <tr>
            <th class="ml-auto"><%= f.label "次回有給付与日" %></th>
            <td class="mr-auto"><%= f.label "#{@employee.next_grant_date}", class:"form-control" %></td>
          </tr>
        <% end %>
      </table>

      <div class="row py-2 col-11 mx-auto">
        <%= f.hidden_field :granted, :value => true %>
        <%= f.submit "更新する", class: "btn btn-success col-5 mx-auto" %>
      </div>

    </div>
  <% end %>
</div>