<div class="container mx-auto">

  <div class="row my-3 mx-auto">
    <h4 class="col-12 text-center mx-auto"><%= @employee.last_name %><%= @employee.first_name %>さんの従業員マイページ</h4>
  </div>

  <div class="row py-3 col-12 mx-auto">
    <%= month_calendar events: @events do |date, events| %>
      <div><%= date.day %></div>

      <div class="col-12">
        <% events.each do |event| %>
          <%= link_to "有給", edit_employee_event_path(event.id) %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>