<div class="container mx-auto mb-3">
  <div class="row">
    <%= link_to new_admin_sessions_path, class:"my-2 py-3 col-3 border border-dark mx-auto " do %>
      <h2 class="text-center">LOGO</h2>
    <% end %>
  </div>
</div>

<nav class="container mx-auto my-3">
  <ul class="row py-auto px-0">

    <% if current_admin %>
      <button type="button" class="btn btn-secondary col-5 ml-auto mr-1 my-1 py-1">
        <%= link_to admin_root_path, class:"y-0 mx-auto" do %>
          <li style="list-style: none;" class="mx-auto text-center text-white">従業員一覧</li>
        <% end %>
      </button>

      <button type="button" class="btn btn-secondary col-5 ml-1 mr-auto my-1 py-1">
        <%= link_to admin_leave_requests_path, class:"y-0 mx-auto" do %>
          <li style="list-style: none;" class="mx-auto text-center text-white">有給申請一覧</li>
        <% end %>
      </button>

      <button type="button" class="btn btn-secondary col-5 ml-auto mr-1 my-1 py-1">
        <%= link_to admin_salaries_path, class:"y-0 mx-auto" do %>
          <li style="list-style: none;" class="mx-auto text-center text-white">給与明細一覧</li>
        <% end %>
      </button>

      <button type="button" class="btn btn-secondary col-5 ml-1 mr-auto my-1 py-1">
        <%= link_to admin_sessions_path, class:"y-0 mx-auto", method: :delete do %>
          <li style="list-style: none;" class="mx-auto text-center text-white">ログアウト</li>
        <% end %>
      </button>
    <% end %>
  </ul>
</nav>

<div class="container mx-auto mb-3">
  <div class="row">
    <%= content_tag(:span, flash.notice, class: "col-12 notice bg-info text-center text-white py-3 rounded") if flash.notice %>
    <%= content_tag(:span, flash.alert, class: "col-12 alert bg-danger text-center text-white") if flash.alert %>
  </div>
</div>