<div class="container mx-auto">

  <div class="row my-3 mx-auto">
    <h4 class="col-12 text-center mx-auto">管理者用従業員データベース画面</h4>
  </div>

  <div class="row py-3 col-12 mx-auto">
    <%= link_to "従業員新規登録", new_admin_employee_path, class:"my-1 col-4 btn btn-lg btn-primary mx-auto" %>
  </div>

  <div class="row py-3 col-12 mx-auto">

    <h5 class="col-12 mx-auto text-center py-2">従業員一覧</h5>

    <div class="row mx-auto py-2"><%= paginate @employees %></div>

    <table class="table table-hovered">

      <tr>
        <th>従業員番号</th>
        <th>従業員氏名</th>
        <th>メールアドレス</th>
        <th>停止フラグ</th>
        <th></th>
      </tr>

      <% @employees.each do |e| %>
        <tr>
          <td><%= sprintf("%07d", e.employee_number) %></td>
          <td><%= e.last_name %> <%= e.first_name %></td>
          <td><%= e.email %></td>
          <td>
            <% if e.suspended == false %>
              <label class="text-success"><strong>無効</strong></label>
            <% else %>
              <label class="text-danger"><strong>有効</strong></label>
            <% end %>
          </td>
          <td>
            <%= link_to "詳細", admin_employee_path(e.id), class:"btn btn-info col-5 mx-auto py-1" %>
            <%= link_to "編集", edit_admin_employee_path(e.id), class:"btn btn-success col-5 mx-auto py-1" %>
            </td>
        </tr>
      <% end %>
    </table>

    <div class="row mx-auto py-2"><%= paginate @employees %></div>
  </div>
</div>