<div class="container mx-auto">

  <div class="row my-3 mx-auto">
    <h4 class="col-12 text-center mx-auto"><%= current_employee.last_name %><%= current_employee.first_name %>さんの給与明細画面</h4>
  </div>

  <% if @salary.present? %>
    <div class="row py-3 col-12 mx-auto border border-dark rounded">
      <h5 class="col-12 text-center mx-auto pt-2 pb-4">給与明細 -<%= @salary.created_at.strftime("%Y年%m月") %>分-</h5>
      <h6 class="col-12 text-center mx-auto p-1">勤怠</h6>
      <table class="table table-hovered table-bordered mb-0 mx-auto pb-3">


        <thead class="table table-info text-center">
          <tr>
            <th class="col-2">出勤日数</th>
            <th class="col-2">出勤時間</th>
            <th class="col-2">残業時間</th>
            <th class="col-2">有給消化日数</th>
            <th class="col-2">欠勤日数</th>
          </tr>
        </thead>

        <tr class="text-center">
          <td class="col-2"><%= @salary.run_days %></td>
          <td class="col-2"><%= @salary.total_hour %>:<%= sprintf("%02d", (@salary.total_minute * 60).round) %></td>
          <td class="col-2"><%= @salary.extra_hour %>:<%= sprintf("%02d", (@salary.extra_minute * 60).round) %></td>
          <td class="col-2"><%= @salary.used_paid_leave %></td>
          <td class="col-2"><%= @salary.absent_days %></td>
        </tr>
      </table>

      <h6 class="col-12 text-center mx-auto p-1">支給</h6>
      <table class="table table-hovered mb-0 mx-auto table-bordered pb-3">


        <thead class="table table-info text-center">
          <tr>
            <th class="col-2">時間単価</th>
            <th class="col-2">基本手当</th>
            <th class="col-2">残業手当</th>
            <th class="col-2">有給手当</th>
            <th class="col-2">総支給額</th>
          </tr>
        </thead>

        <tr class="text-center">
          <td class="col-2"><%= @salary.wage %></td>
          <td class="col-2"><%= @salary.calc_basic %></td>
          <td class="col-2"><%= @salary.calc_extra %></td>
          <td class="col-2"><%= @salary.calc_leave %></td>
          <td class="col-2"><%= @salary.sum_salary %></td>
        </tr>
      </table>

    </div>
  <% else %>
    <div class="row my-3 mx-auto">
      <p class="col-12 text-center my-5 mx-auto">表示できる給与明細データがありません。</p>
    </div>
  <% end %>
</div>