<div class="container mx-auto mb-3">
  <div class="row">
    <%= link_to new_session_path, class:"my-2 py-3 col-xl-3 col-lg-3 col-md-3 col-5 border border-dark mx-auto" do %>
      <h2 class="text-center">LOGO</h2>
    <% end %>
  </div>
</div>

<% if current_employee %>

  <nav class="container mx-auto my-3 navbar navbar-expand-md navbar-light">
    <button class="navbar-toggler col-12" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mx-auto" id="navbarNavDropdown">
      <ul class="navbar-nav row col-12 py-auto px-2 mx-auto">

        <%= link_to root_path, class:"col-xl col-lg col-md col-sm col-12 ml-auto mr-1 my-1" do %>
          <button type="button" class="btn btn-light y-0 mx-auto col-12 border border-dark">
            <li style="list-style: none;" class="mx-auto text-center">トップページ</li>
          </button>
        <% end %>

        <%= link_to new_leave_request_path, class:"col-xl col-lg col-md col-sm col-12 mx-1 my-1" do %>
          <button type="button" class="btn btn-primary y-0 mx-auto col-12">
            <li style="list-style: none;" class="mx-auto text-center text-white">新規有給申請</li>
          </button>
        <% end %>

        <%= link_to salaries_path, class:"col-xl col-lg col-md col-sm col-12 mx-1 my-1" do %>
          <button type="button" class="btn btn-info y-0 mx-auto col-12">
            <li style="list-style: none;" class="mx-auto text-center text-white">給与明細一覧</li>
          </button>
        <% end %>

        <%= link_to session_path, class:"col-xl col-lg col-md col-sm col-12 ml-1 mr-auto my-1", method: :delete do %>
          <button type="button" class="btn btn-danger y-0 mx-auto col-12">
            <li style="list-style: none;" class="mx-auto text-center text-white">ログアウト</li>
          </button>
        <% end %>

      </ul>
    </div>
  </nav>
<% end %>

<div class="container mx-auto mb-3">
  <div class="row">
    <%= content_tag(:span, flash.notice, class: "col-12 notice bg-info text-center text-white py-3 rounded") if flash.notice %>
    <%= content_tag(:span, flash.alert, class: "col-12 alert bg-danger text-center text-white") if flash.alert %>
  </div>
</div>