<div class="container mx-auto">

  <div class="row my-3 mx-auto">
    <h4 class="col-4 text-center mx-auto">有給申請画面</h4>
  </div>

  <div class="row my-2 mx-auto">
    <h5 class="col-12 text-center mx-auto">「<%= Date.current.strftime("%Y年%m月%d日") %>」現在、新規有給申請は「<%= Date.current.since(10.days).strftime("%Y年%m月%d日") %>」以降で取得が可能です。</h5>
  </div>

  <%= form_with model: @leave_request, url: leave_requests_path, method: :post do |f| %>

    <div class="row py-3 col-11 mx-auto border border-dark rounded">
      <table class="table table-borderless">

        <tr>
          <th class="ml-auto"><%= f.label "従業員番号" %></th>
          <td class="mr-auto">
            <%= f.hidden_field :employee_id, :value => current_employee.id %>
            <%= current_employee.id %>
          </td>
        </tr>
        <tr>
          <th class="ml-auto"><%= f.label "取得希望日" %></th>
          <td class="mx-auto">
            <%= f.date_field :preferred_date, class:"form-control" %>
          </td>
        </tr>
        <tr>
          <th class="ml-auto"><%= f.label "申請理由" %></th>
          <td class="mx-auto"><%= f.text_area :reason_for_request, class:"form-control" %></td>
        </tr>

      </table>

      <div class="row py-2 col-5 mx-auto">
        <%= f.submit "申請する", class: "btn btn-primary col-12" %>
      </div>

    </div>
  <% end %>
</div>