<div class="container mx-auto">

  <div class="row my-3 mx-auto">
    <h4 class="col-4 text-center mx-auto">有給申請決定画面</h4>
  </div>
<div class="border border-dark rounded">

  <%= form_with model: @leave_request, url: admin_leave_request_path(@leave_request.id), method: :patch do |f| %>
    <div class="row py-3 col-11 mx-auto">
      <table class="table table-borderless">

        <tr>
          <th class="ml-auto col-5"><%= f.label "従業員番号" %></th>
          <td class="mx-auto">
            <%= @leave_request.employee.id %>
          </td>
        </tr>
        <tr>
          <th class="ml-auto col-5"><%= f.label "従業員氏名" %></th>
          <td class="mx-auto row">
            <%= @leave_request.employee.last_name %> <%= @leave_request.employee.first_name %>
          </td>
        </tr>
        <tr>
          <th class="ml-auto col-5"><%= f.label "取得希望日" %></th>
          <td class="mx-auto">
            <%= @leave_request.preferred_date %>
          </td>
        </tr>
        <tr>
          <th class="ml-auto col-5"><%= f.label "申請理由" %></th>
          <td class="mx-auto py-3"><%= @leave_request.reason_for_request %></td>
        </tr>
        <% if @leave_request.permitted? %>
          <tr>
            <th class="ml-auto">申請ステータス</th>
            <td class="mx-auto text-success">
              <% if @leave_request.permitted? %>
                <%= "承認されています。" %>
              <% end %>
            </td>
          </tr>
        <% end %>

      </table>

      <div class="row py-2 col-5 mx-auto">
        <% unless @leave_request.permitted? %>
          <%= f.hidden_field :permitted, :value => true %>
          <%= f.submit "承認する", class: "btn btn-primary col-12" %>
        <% end %>
      </div>
    </div>

  <% end %>
</div>