<!DOCTYPE html>
<html>
  <head>
    <title>SimpleSmartSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'sm', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'alert', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% content_for :content do %>
      <%= render 'layouts/public/header' %>
      <%= yield %>
      <%= render 'layouts/public/footer' %>
    <% end %>
    <%= render template: "layouts/application" %>
  </body>
</html>